In [9]:
import pandas as pd
import seaborn as sns
import numpy as np
import matplotlib.pyplot as plt
import os

In [13]:
csv_dir='C:/Users/dhill/Desktop/Banff'
dfs={}

for file_name in os.listdir(csv_dir):
    if file_name.endswith('.csv'):
        file_path = os.path.join(csv_dir, file_name)
        df=pd.read_csv(file_path)
        dfs[file_name]=df

In [14]:
len(dfs)

12

In [17]:
dfs.keys()

dict_keys(['banff__forest_birds_1995-2022.csv', 'Elk_Island_Birds_2009-2017.csv', 'GBI_Forest_Birds_2005-2016.csv', 'glacier_forest_terrestrial_bird_2007-2020.csv', 'glacier_tundra_alpine_birds_2007-2020.csv', 'Jasper_Alpine_Birds_2007-2017.csv', 'Jasper_Forest_Birds_2007-2017.csv', 'kootenay_forest_&_tundra_birds_2007-2021.csv', 'MntRvl_forest_terrestrial_bird_2007-2020.csv', 'Prince_Albert_Forest_Bird_2005-2016.csv', 'Waterton_Lakes_Forest_Terrestrial_Birds_2007-2016.csv', 'yoho_forest_and_tundra_birds_2007-2021.csv'])

In [38]:
dfs2=dfs.copy()

In [39]:
dfs2['banff__forest_birds_1995-2022.csv']

,Park,Location,PointID,Year,Month,Day,Species,Time.1st.Detected,#detected_0-3m20s,#detected_3m21s-6m40s,#detected_6m41s-10m,Behaviour,UTM_11U_x,UTM_11u_y
0,Parc,Nom du lieu,PointID,Année,Mois,Journée,Espèce,Temps 1er détecté,Nombre de détection à 0-3m20,Nombre de détection à 3m21-6m40,Nombre de détection à 6m41-10m,Comportement,UTM vers l’Est,UTM vers le Nord
1,BNP,Arnica,1,2007,6,15,TOSO,0.01,2,2,2,Singing,567771,5677040
2,BNP,Arnica,1,2007,6,15,OSFL,0.02,1,1,1,Singing,567771,5677040
3,BNP,Arnica,1,2007,6,15,CHSP,0.08,2,1,0,Singing,567771,5677040
4,BNP,Arnica,1,2007,6,15,SWTH,4.42,0,1,1,Calling,567771,5677040
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
33851,BNP,Wonder Pass,6,2022,7,10,AMPK,5.14,0,1,0,Calling,599221,5637430
33852,BNP,Wonder Pass,6,2022,7,10,CHSP,3.25,0,2,0,Singing,599221,5637430
33853,BNP,Wonder Pass,6,2022,7,10,HETH,0.01,1,0,0,Singing,599221,5637430
33854,BNP,Wonder Pass,6,2022,7,10,YRWA,2.06,1,0,0,Singing,599221,5637430
33855,BNP,Wonder Pass,6,2022,7,10,FOSP,0,2,0,0,Singing,599221,5637430

In [47]:
# Dropping the French translation for every file
for i in dfs2:
    dfs2[i]=dfs2[i].drop(index=0)

In [48]:
dfs2['banff__forest_birds_1995-2022.csv']

,Park,Location,PointID,Year,Month,Day,Species,Time.1st.Detected,#detected_0-3m20s,#detected_3m21s-6m40s,#detected_6m41s-10m,Behaviour,UTM_11U_x,UTM_11u_y
1,BNP,Arnica,1,2007,6,15,TOSO,0.01,2,2,2,Singing,567771,5677040
2,BNP,Arnica,1,2007,6,15,OSFL,0.02,1,1,1,Singing,567771,5677040
3,BNP,Arnica,1,2007,6,15,CHSP,0.08,2,1,0,Singing,567771,5677040
4,BNP,Arnica,1,2007,6,15,SWTH,4.42,0,1,1,Calling,567771,5677040
5,BNP,Arnica,1,2007,6,15,YRWA,4.43,0,1,1,Singing,567771,5677040
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
33851,BNP,Wonder Pass,6,2022,7,10,AMPK,5.14,0,1,0,Calling,599221,5637430
33852,BNP,Wonder Pass,6,2022,7,10,CHSP,3.25,0,2,0,Singing,599221,5637430
33853,BNP,Wonder Pass,6,2022,7,10,HETH,0.01,1,0,0,Singing,599221,5637430
33854,BNP,Wonder Pass,6,2022,7,10,YRWA,2.06,1,0,0,Singing,599221,5637430
33855,BNP,Wonder Pass,6,2022,7,10,FOSP,0,2,0,0,Singing,599221,5637430

In [52]:
for i in dfs2:
    print(i)

banff__forest_birds_1995-2022.csv
Elk_Island_Birds_2009-2017.csv
GBI_Forest_Birds_2005-2016.csv
glacier_forest_terrestrial_bird_2007-2020.csv
glacier_tundra_alpine_birds_2007-2020.csv
Jasper_Alpine_Birds_2007-2017.csv
Jasper_Forest_Birds_2007-2017.csv
kootenay_forest_&_tundra_birds_2007-2021.csv
MntRvl_forest_terrestrial_bird_2007-2020.csv
Prince_Albert_Forest_Bird_2005-2016.csv
Waterton_Lakes_Forest_Terrestrial_Birds_2007-2016.csv
yoho_forest_and_tundra_birds_2007-2021.csv

In [49]:
#Resetting Index
for i in dfs2:
    dfs2[i].reset_index(inplace=True)

In [50]:
dfs2['banff__forest_birds_1995-2022.csv']

,index,Park,Location,PointID,Year,Month,Day,Species,Time.1st.Detected,#detected_0-3m20s,#detected_3m21s-6m40s,#detected_6m41s-10m,Behaviour,UTM_11U_x,UTM_11u_y
0,1,BNP,Arnica,1,2007,6,15,TOSO,0.01,2,2,2,Singing,567771,5677040
1,2,BNP,Arnica,1,2007,6,15,OSFL,0.02,1,1,1,Singing,567771,5677040
2,3,BNP,Arnica,1,2007,6,15,CHSP,0.08,2,1,0,Singing,567771,5677040
3,4,BNP,Arnica,1,2007,6,15,SWTH,4.42,0,1,1,Calling,567771,5677040
4,5,BNP,Arnica,1,2007,6,15,YRWA,4.43,0,1,1,Singing,567771,5677040
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
33850,33851,BNP,Wonder Pass,6,2022,7,10,AMPK,5.14,0,1,0,Calling,599221,5637430
33851,33852,BNP,Wonder Pass,6,2022,7,10,CHSP,3.25,0,2,0,Singing,599221,5637430
33852,33853,BNP,Wonder Pass,6,2022,7,10,HETH,0.01,1,0,0,Singing,599221,5637430
33853,33854,BNP,Wonder Pass,6,2022,7,10,YRWA,2.06,1,0,0,Singing,599221,5637430
33854,33855,BNP,Wonder Pass,6,2022,7,10,FOSP,0,2,0,0,Singing,599221,5637430

In [54]:
for i in dfs2:
    print(i)
    print( dfs2[i].columns)

banff__forest_birds_1995-2022.csv
Index(['index', 'Park', 'Location', 'PointID', 'Year', 'Month', 'Day',
       'Species', 'Time.1st.Detected', '#detected_0-3m20s',
       '#detected_3m21s-6m40s', '#detected_6m41s-10m', 'Behaviour',
       'UTM_11U_x', 'UTM_11u_y'],
      dtype='object')
Elk_Island_Birds_2009-2017.csv
Index(['index', 'Survey identifier ', 'Species Code',
       'First recording section bird count',
       'Second recording section bird count',
       'Third recording section bird count', 'Total bird count',
       'Transcriber comments', 'English common name ', 'French common name ',
       'Scientfic name', 'AOU numberic code', 'Year of observation',
       'Month of observation', 'Day of observation', 'Hour of observation',
       'Minute of observation', 'Temperature in degrees Celcius', 'Wind speed',
       'Gust wind speed', 'Cloud cover (percentage)', 'First observer',
       'Second observer', 'Third observer', 'Comments', 'Audio file name',
       'Transcriber', 'Transcription start minute',
       'Transcription start second', 'Recording quality', 'Noise comments',
       'Survey area identifier ', 'Point number',
       '2016 — present site identifier', '2009-2013 site identifier',
       '1998-2007 site identifier', 'Monitoring Era', 'Era of origin',
       'Latitude', 'Longitude', 'UTM northing NAD83', 'UTM easting NAD83',
       'SiteID Comments'],
      dtype='object')
GBI_Forest_Birds_2005-2016.csv
Index(['index', 'Common Name', 'Scientific Name', 'Date', 'Time',
       'UTM Easting', 'UTM Northing', 'Location Name', 'Number Recorded',
       'Sex', 'Observer's name', 'Comments', 'Habitat Type'],
      dtype='object')
glacier_forest_terrestrial_bird_2007-2020.csv
Index(['index', 'Ecoregion', 'Park', 'Point transect name',
       'Point transect identification', 'Elevation (m)', 'Year', 'Month',
       'Day', 'Temperature (Celcius)', 'Sky condition', 'Wind speed (km/h)',
       'Common_Name', 'Scientific_Name',
       'Number of Birds Detected from 0-3:20 (minutes)',
       'Number of Birds Detected from 3:20-6:40 (minutes)',
       'Number of Birds Detected from 6:40-10:00 (minutes)', 'Behaviour',
       'Easting coordinate', 'Northing coordinate'],
      dtype='object')
glacier_tundra_alpine_birds_2007-2020.csv
Index(['index', 'Ecoregion', 'Park', 'Point transect name',
       'Point transect identification', 'Elevation (m)', 'Year', 'Month',
       'Day', 'Temperature (Celcius)', 'Sky condition', 'Wind speed (km/h)',
       'Common_Name', 'Scientific_Name',
       'Number of Birds Detected from 0-3:20 (minutes)',
       'Number of Birds Detected from 3:20-6:40 (minutes)',
       'Number of Birds Detected from 6:40-10:00 (minutes)', 'Behaviour',
       'Easting coordinate', 'Northing coordinate'],
      dtype='object')
Jasper_Alpine_Birds_2007-2017.csv
Index(['index', 'Park', 'Point transect', 'Point transect identification',
       'Ecoregion', 'Universal Transverse Mercator Zone', 'Easting coordinate',
       'Northing coordinate', 'Elevation', 'Date and Time', 'Temperature',
       'Sky condition', 'Wind speed (km/h)', 'Duration of survey (min)',
       'Species'],
      dtype='object')
Jasper_Forest_Birds_2007-2017.csv
Index(['index', 'Park', 'Point transect', 'Point transect identification',
       'Ecoregion', 'Universal Transverse Mercator Zone', 'Easting coordinate',
       'Northing coordinate', 'Elevation', 'Date and Time', 'Temperature',
       'Sky condition', 'Wind speed (km/h)', 'Duration of survey (min)',
       'Species'],
      dtype='object')
kootenay_forest_&_tundra_birds_2007-2021.csv
Index(['index', 'Park', 'Location', 'PointID', 'Year', 'Month', 'Day',
       'Species', 'Time.1st.Detected', '#detected_0-3m20s',
       '#detected_3m21s-6m40s', '#detected_6m41s-10m', 'Behaviour',
       'UTM_11U_x', 'UTM_11u_y'],
      dtype='object')
MntRvl_forest_terrestrial_bird_2007-2020.csv
Index(['index', 'Ecoregion', 'Park', 'Point transect name',
       'Point transect identification', 'Elevation (m)', 'Year', 'Month',
       'Day', 'Temperature (Celcius)', 'Sky condition', 'Wind speed (km/h)',
       'Common_Name', 'Scientific_Name',
       'Number of Birds Detected from 0-3:20 (minutes)',
       'Number of Birds Detected from 3:20-6:40 (minutes)',
       'Number of Birds Detected from 6:40-10:00 (minutes)', 'Behaviour',
       'Easting coordinate', 'Northing coordinate'],
      dtype='object')
Prince_Albert_Forest_Bird_2005-2016.csv
Index(['index', 'Recording Transcription Identification',
       'Measure Identification', 'Year', 'Date', 'Recording Start Time',
       'Recording Station Identification', 'Route Name',
       'Route Identification', 'Station', 'UTM Zone', 'UTM Easting',
       'UTM Northing', 'Observer', 'Cloud Cover (%)',
       'Wind Speed (Beaufort Scale)', 'Temperature (°C)',
       'Background Noise Level', 'Transcriber',
       'American Ornithologists' Union Species Code',
       'Number of Birds Detected From 0 - 3 Minutes',
       'Number of Birds Detected From 3 - 5 Minutes',
       'Number of Birds Detected From 5 - 10 Minutes',
       'Call Detected During Bird Fly Over', 'Vegetation Community',
       'Observer Comments', 'Transcriber Comments', 'Comments'],
      dtype='object')
Waterton_Lakes_Forest_Terrestrial_Birds_2007-2016.csv
Index(['index', 'Park', 'Point transect identification', 'Ecoregion',
       'Universal Transverse Mercator Zone', 'Easting coordinate',
       'Northing coordinate', 'Elevation', 'Date and Time', 'Temperature',
       'Sky condition', 'Wind speed (km/h)', 'Duration of survey (min)'],
      dtype='object')
yoho_forest_and_tundra_birds_2007-2021.csv
Index(['index', 'Park', 'Location', 'PointID', 'Year', 'Month', 'Day',
       'Species', 'Time.1st.Detected', '#detected_0-3m20s',
       '#detected_3m21s-6m40s', '#detected_6m41s-10m', 'Behaviour',
       'UTM_11U_x', 'UTM_11u_y'],
      dtype='object')

In [ ]:
# Common columns amongst all dataframes are date (year, month), coordinates (easting northing) and species name